

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0  mx-auto">

<h2>User info</h2>

<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@user, local:true do |f| %>

  <div class="form-group">
  <div>
  <label for="inputName">Name</label>
  </div>
  <%= f.text_field :name, autofocus: true, id:"inputName" %>
  </div>

<div class="form-group">
  <div>
  <label for="inputImage">ProfileImage</label>
  </div>
  <%= f.attachment_field :profile_image, placeholder: "Image" %>
</div>

<div class"form-group">
  <div>
  <label for="inputIntroduction">Introduction</label>
  </div>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %>
</div>

<div class="form-group">
  <%= f.submit "Update User" , class: 'btn btn-secondary' %>
</div>

<% end %>

    </div>
  </div>
</div>
