    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 70, 70, fallback: "no_image.png",size: "70x70" %>
    <table class="table">
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
        <tr>
        <th>follows</th>
        <th><%= link_to " #{@user.followings.count} ", user_followings_path(@user.id) %></th>
        </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to " #{@user.followers.count} ", user_followers_path(@user.id) %></th>
      </tr>

      <tr>
        <th>
    <% if @user == current_user %>
      <%= link_to "", edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    <% elsif current_user.following?(@user) %>
      <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "Follow", user_relationships_path(@user.id), method: :post %>
    <% end %>
        </th>
      </tr>
    </table>

    <h1>New book</h1>
    <%= form_with model:book, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>opinion</h4>
      <%= f.text_area :body %></br>
      <%= f.submit 'Create Book' %>
    <% end %>
