<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0  mx-auto">

<h2>Editing Book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@book, local:true do |f| %>

  <div class="form-group">
  <div>
  <label for="inputTitle">Title</label>
  </div>
  <%= f.text_field :title, autofocus: true, id:"inputBook" %>
  </div>

<div class"form-group">
  <div>
  <label for="inputOpinion">Opinion</label>
  </div>
  <%= f.text_field :body, autofocus: true, id:"inputBody" %>
</div>

<div class="form-group">
  <%= f.submit "Update Book" , class: 'btn btn-success' %>
</div>

<% end %>
<%= link_to "Show", book_path %> |
<%= link_to "Back", books_path %>

    </div>
  </div>
</div>
