<div class="container px-5 px-sm-0">
  <div class="row">
    <div class='col-md-3'>
    <%= render 'books/book', book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">

　　　<h2>Book detail</h2>
　　　<table class="table">
　　　  <tbody>

　　　      <td>
　　　       <%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.png",size: "30x30" %><br>
　　　       <%= link_to @book.user.name, user_path(@user) %>
　　　      </td>
　　　      <td><%= link_to @book.title, "/books/#{@book.id}" %></td>
　　　      <td><%= @book.body %></td>
　　　      <td>
　　　        <% if @book.user == current_user %>
　　　        <%= link_to "Edit", edit_book_path(@book) ,class:'btn btn-success' %>
　 　　　     <% end %>
　 　　　   </td>
　　　      <td>
　　　        <% if @book.user == current_user %>
　　　        <%= link_to "Destroy", book_path(@book), method: :delete , class:'btn btn-danger'  %>
　　　        <% end %>
　　　      </td>
                <td>
                  <div id="favorites_buttons_<%= @book.id %>">
                    <%= render partial: 'favorites/favorite-btn', locals: { book: @book} %>
                  </div>
                </td>

　　　      <td>
　　　        コメント数：<%= @book.book_comments.count %>
　　　      </td>

　　　  </tbody>
　　　</table>
　　　<div>
　　　  <table>
　　　    <tbody id="comments_index">
            <%= render 'books/comments', book: @book, user: @user %>
          </tbody>
　　　  </table>
　　　</div>
　　<div class="col-md-8 offset-md-1">
　　　<%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
  　　<%= f.text_area :comment, size: "80x7", rows:'5', class:"text_field" %><br>
  　　<%= f.submit "送信" %>
　　　<% end %>
　　</div>
  </div>

  </div>
</div>

