<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">

    <div class="container">
  　　<p>
  　　Bookers
  　　</p>
  　  <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to 'Home', user_path(current_user.id) %>
      </li>
      <li class="nav-item">
        Users
      </li>
      <li class="nav-item">
        Books
      </li>
      <li class="nav-item">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="nav-item">
      <%= link_to 'Home', user_path(current_user.id) %>
      </li>
      <li class="nav-item">
        <%= link_to "about", home_about_path %>
      </li>
      <li class="nav-item">
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "login", new_user_session_path %>
      </li>
      </ul>
    </div>
    </div>
    <% end %>
     </nav>
    </header>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

    <%= yield %>
  </body>
</html>
